<main>
    <Section id="loginn">
        <form class="row g-3">
              <label for="staticE-mail" class="visually-hidden">E-mail</label>
              <input type="text" class="form-control" id="staticE-mail" placeholder="email@exemplo.com">
              <br>
              <label for="inputSenha" class="visually-hidden">Senha</label>
              <input type="password" class="form-control" id="inputPassword2" placeholder="Senha">
              <button type="submit" class="btn btn-primary mb-3" style="background-color: blueviolet;">Login</button>
            
          </form>
    </Section>
</main>>
