<main>
    <section id="banner">


        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./assets/img/gaming.jpg" class="d-block w-100" alt="01">
                </div>
                <div class="carousel-item">
                    <img src="./assets/img/switch.jpg" class="d-block w-100" alt="02">
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
<br>
    <h2>Jogos</h2>

    <mat-grid-list cols="4">
       
        <mat-grid-tile><mat-card class="example-card">
                <img mat-card-image src="./assets/img/Cyber-Hunter.jpg" alt="j2">
                <mat-card-header>
                    <mat-card-title>Cyber Hunter</mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <p>
                    Ficção científica/Battle royale
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <P>R$250,00</P>
                    <button mat-button>COMPRAR</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="./assets/img/qiqi.jpg" alt="j1">
                <mat-card-header>
                    <mat-card-title>Genshin Impact</mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <p>
                     RPG de ação
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <P>R$350,00</P>
                    <button mat-button>COMPRAR</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        
        

        <mat-grid-tile><mat-card class="example-card">
                <img mat-card-image src="./assets/img/ff.jpg" alt="j3">
                <mat-card-header>
                    <mat-card-title>Free Fire</mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <p>
                        Ação-aventura/Battle royale
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <P>R$100,00</P>
                    <button mat-button>COMPRAR</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile><mat-card class="example-card">
            <img mat-card-image src="./assets/img/cod.jpg" alt="j4">
            <mat-card-header>
                <mat-card-title>Call of Duty</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <p>
                   Tiro em primeira pessoa 
                </p>
            </mat-card-content>
            <mat-card-actions>
                <P>R$400,00</P>
                <button mat-button>COMPRAR</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>

     <br><br>


